<h1>Connexion client</h1>
<form action="/client/login" method="post">
  <input type="text" name="email" />
  <input type="password" name="password" />
  <input type="submit" value="se connecter" />
  <ul>
    {{#each errors}}
      <li>{{this.msg}}</li>
    {{/each}}
  </ul>
</form>