<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Tonobil | Inscription</title>
    <link rel="stylesheet" href="/styleInscription.css" />
  </head>
  <body>
    <div class="center">
      <h1>S'inscrire</h1>
      <form method="POST" action="/client/register">
        <div class="pre">
          <div class="txt_field">
            <input type="text" name="nom" required />
            <span></span>
            <label>Nom </label>
          </div>
          <div class="txt_field">
            <input type="text" name="prenom" required />
            <span></span>
            <label>Prénom</label>
          </div>
          <div class="txt_field">
            <input type="text" name="email" required />
            <span></span>
            <label>Email </label>
          </div>
          <div class="txt_field">
            <input type="password" name="password" required />
            <span></span>
            <label>Mot de Passe </label>
          </div>
        </div>
        <div class="txt_field">
          <input type="date" name="dateNaissance" required />
          <span></span>
          <label>Date de Naissance </label>
        </div>
        <div class="pre">
          <div class="txt_field">
            <input type="text" name="tel" required />
            <span></span>
            <label>Telephone </label>
          </div>
          <div class="txt_field">
            <input type="text" name="numPermis" required />
            <span></span>
            <label>Numero Permis </label>
          </div>

        </div>
        <div class="signup_link">
          Vous etes deja membere?
          <a href="#">Se Connecter</a>
        </div>

        <button class="submit" name="submit">S'Inscrire</button>
      </form>
    </div>
    {{#if errors}}
      <ul
        id="errors"
        style="max-width: 300PX; margin: auto; z-index: 1;position: fixed;left: 800px;right: 0;bottom: 200px;height: 200px;background-color: #000;color: white;padding: 0 20px;"
      >
        <button onclick="closePopup()">X</button>
        {{#each errors}}
          <li color="white">{{this.msg}}</li>
        {{/each}}

      </ul>
    {{/if}}

    <script>
      function closePopup() {
      document.getElementById("errors").setAttribute("hidden", "true") }
    </script>
  </body>
</html>