<h1>page d'accueil</h1>
<div><a href="admin/login">Connexion Admin</a></div>
<div><a href="/client/login">Login Client</a></div>
<div><a href="/client/register">Register Client</a></div>
<div><a href="/gerant/login">Login Gerant</a></div>
<div><a href="/gerant/register">Register Gerant</a></div>